<h1><%= @lawyer.name%>'s Profile</h1>

<br>

<div class="list">
    <h3>
        Name: <%= @lawyer.name %><br><br>
        Phone: <%= @lawyer.phone %><br><br>
        Address: <%= @lawyer.address %><br><br>
        Fee: <%= @lawyer.attorney_fee %>
    </h3>
</div>

<h3>Cases:</h3>
    <% @lawyer.cases.each do |obj| %>
        <h3><li><%= link_to obj.title, case_path(obj) %></li></h3>
    <% end %>

<br><br>

<div class="edit-link">
    <%= link_to "Edit Profile", edit_lawyer_path %>
</div>

<br><br>

<div class="delete-link">
    <%= form_tag lawyer_path(@lawyer.id), method: "DELETE" do %>
        <%= submit_tag "Delete #{@lawyer.name}" %>
    <% end %>
</div>




