<h1><%= @lawyer.name%> Profile</h1>


<strong>
  <ul>
    <li>Name: <%= @lawyer.name %></li>
    <li>Phone: <%= @lawyer.phone %></li>
    <li>Address: <%= @lawyer.address %></li>
    <li>Fee: <%= @lawyer.attorney_fee %></li>
  </ul>
</strong>


<ol>
  <strong>Cases:</strong>
  <% @lawyer.cases.each do |obj| %>
  <li><%= link_to obj.title, case_path(obj)  %></li>
  <% end %>
</ol>

<%= link_to "Edit", edit_lawyer_path %>


<%= form_tag lawyer_path(@lawyer.id), method: "DELETE" do %>
  <%= submit_tag "Delete #{@lawyer.name}" %>
  <% end %>
