<br><br><br><br><br><br>
<h1><%= @lawyer.name%>'s Profile</h1>

<br><br><br>

<div class="list">
    <h3>
        Name: <%= @lawyer.name %><br><br>
        Email: <%= @lawyer.email %><br><br>
        Phone: <%= @lawyer.phone %><br><br>
        Address: <%= @lawyer.address %><br><br>
        Fee: <%= @lawyer.attorney_fee %>
    </h3>
</div>

<br><br>

<strong>Cases:</strong>
    <% @lawyer.cases.each do |obj| %>
    <li><%= obj.title %></li>
<% end %>

<br><br>

<div class="delete-link">
    <%= form_tag lawyer_path(@lawyer.id), method: "DELETE" do %>
        <%= submit_tag "Delete #{@lawyer.name}" %>
    <% end %>
</div>

<br><br>

<div class="edit-link">
    <%= link_to "Edit", edit_lawyer_path %>
</div>
