<br><br><br><br><br><br>

<h1>Login or <%= link_to "Sign Up", new_user_path %></h1>

<div class="error">
    <%= flash.notice %>
</div>

<div class="form-box">
    <h3>
        <%= form_for "/login" do %>
            <%= label :email, "Email" %>
            <%= text_field_tag :email %>

            <%= label :password, "Password" %>
            <%= password_field_tag :password %>

            <%= submit_tag "Login" %>
        <% end %>
    </h3>
</div>
