<h1>Login or <%= link_to "Create an account", new_user_path %></h1>

<div class="error">
    <%= flash.notice %>
</div>

<strong>
    <%= form_for "/login" do %>
        <%= label :email, "Email:" %>
        <%= text_field_tag :email %>

        <%= label :password, "Password:" %>
        <%= password_field_tag :password %>

        <%= submit_tag "Login" %>
    <% end %>
</strong>
