<h1><%= @case.title %></h1>

<div class="list">
    <h3>
        Status: <%= @case.status %><br><br>
        Case Type: <%= @case.case_type %><br><br>
        Case Client: <%=link_to @case.client.name, client_path(@case.client) %><br><br>
        Case Lawyers: <%= link_to @case.lawyer.name, lawyer_path(@case.lawyer) %><br><br>
    </h3>
</div>

<h3><%= link_to "Update Case", edit_case_path %></h3>

<br><br>

<%= form_tag case_path(@case), method: "DELETE" do %>
    <%= submit_tag "Delete Case" %>
<% end %>
