<br><br><br><br><br><br>

<h1>Sign Up</h1>

<% if @user.errors %>
    <%= render partial: "shared/error", locals: { object: @user } %>
<% end %>

<div class="form-box">
    <h3>
        <%= form_for @user, :url => create_user_path  do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.select :user_type, ['Lawyer', 'Client']%>

            <%= f.submit "Sign up"%>
        <% end %>
    </h3>
<div>
