<br><br><br><br><br><br>
<div class="show">
<h1><%= @client.name%>'s Profile</h1>

<br><br><br>

    <li>Phone: <%= @client.phone %></li><br>


</strong>
<br></br>

<%= link_to "Edit", edit_client_path %>
<br></br>

<%= link_to "Create a new case", new_case_path %>
<br></br>

<ol>
  <strong>My Cases:</strong>
  <% @client.cases.each do |obj| %>
  <li><%= link_to obj.title, case_path(obj) %></li>
  <% end %>
</ol>

<%= form_tag client_path(@client.id), method: "DELETE" do %>
  <%= submit_tag "Delete #{@client.name}" %>
  <% end %><br><br>
