<br><br><br><br><br><br>
<div class="show">
<h1><%= @client.name%>'s Profile</h1>

<br><br><br>

<div class="list">
    <h3>
        Name: <%= @client.name %><br><br>
        Email: <%= @client.email %><br><br>
        Phone: <%= @client.phone %><br><br>
        Address: <%= @client.address %>
    </h3>
</div>

<br><br>


<div class="delete-link">
    <%= form_tag client_path(@client.id), method: "DELETE" do %>
        <%= submit_tag "Delete #{@client.name}" %>
    <% end %>
</div>
  
<br><br>

<div class="edit-link">
    <%= link_to "Edit", edit_client_path %>
</div>
</div>