<br><br><br>
<div class="show">
<h1><%= @client.name%>'s Profile</h1>

<br>

<div class="list">
    <h3>
        Name: <%= @client.name %><br><br>
        Phone: <%= @client.phone %><br><br>
        Address: <%= @client.address %>
    </h3>
</div>

<br>

<h3>My Cases:</h3>
        <% @client.cases.each do |obj| %>
            <h3><li><%= link_to obj.title, case_path(obj) %></li></h3>
        <% end %>

<br><br>

<div class="edit-link">
    <%= link_to "Edit Profile", edit_client_path %>
</div>

<h3><%= link_to "New Case", new_case_path %></h3>

<br>

<div class="delete-link">
    <%= form_tag client_path(@client.id), method: "DELETE" do %>
        <%= submit_tag "Delete #{@client.name}" %>
    <% end %>
</div>
