<!DOCTYPE html>
<html>
    <head>
        <title>Justice</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
    </head>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if get_current_user%>
        <div><strong>Welcome <%= get_current_user.email %></strong></div>
        <%= link_to "Logout", "/logout", method: "DELETE" %>



        <% else %>
        <%= link_to "Login", login_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
    

    <div class="footer">
        <footer>
            <p>© 2019 Lawful4U - Personal Injury and Accident Lawyers.<br>
            Contact information: <a href="mailto:someone@example.com">contactus@lawful4u.com</a></p>
        </footer>
</html>
